# Node
node_modules/

# Next.js
.next/

# Build output
dist/
out/

# Env files
.env*

.vercel/


# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store

# VSCode
.vscode/

# Misc
*.local
*.log
*.zip
*.zip
